.nav {
  display: flex;
  align-items: center;
  gap: 1rem;
  @media screen and (max-width: 50rem) {
    flex-direction: row-reverse;
  }
  &__separator{
    width: 2px;
    height: 1.2rem;
    border-radius: 1rem;
    background-color: var(--grey-900);
  }
  &__list {
    overflow: hidden;
    gap: 2px;
    border-radius: 0.5rem;
    background-color: var(--grey-200);
    display: flex;
    @media screen and (max-width: 50rem) {
      display: none;
      &.open{
        display: grid;
        z-index: 9;
        position: absolute;
        top:4.1rem;
        right: 2.5rem;
        box-shadow: -1rem 1rem 2rem rgba(0, 0, 0, 0.12);
      } 
    }
    & svg path{
      stroke: var(--primary);
    }
  }
  &__lang {
    position: relative;
    border-radius: 0.5rem;
  }
  &__lang-list {
    display: none;
    &.open {
      overflow: hidden;
      top: calc(100% + 0.58rem);
      right: 0;
      gap: 2px;
      border-radius: 0.5rem;
      background-color: var(--grey-200);
      box-shadow: -1rem 1rem 2rem rgba(0, 0, 0, 0.12);
      display: grid;
      position: absolute;
      & button,
      & li {
        width: 100%;
      }
    }
  }
}
