.billboard{
    background-image: url("../../assets/duchnauki_bg.png");
    height: 37.5rem;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-content: center;
    padding: 1.5rem;
    gap: 1rem;
    & h2{
        font-size: var(--h3);
        text-align: center;
        width: min(100%, 53.5rem);
        color: var(--white);
    }
}
