h1 {
  font-size: var(--h1);
  line-height: 3.5rem;
  margin-bottom: 0.75rem;
}
h2 {
  font-size: var(--h2);
  line-height: 3.125rem;
  margin-bottom: 0.75rem;
}
h3 {
  font-size: var(--h3);
  line-height: 3.125rem;
  margin-bottom: 1rem;
}

.txt {
  &.regular {
    font-size: 1.125rem;
  }
  &.big {
    font-size: 1.375rem;
    line-height: 2rem;
  }
  &.medium {
    font-weight: 600;
  }
  &.bold {
    font-weight: 700;
  }
  &.grey {
    color: var(--grey-700);
  }
}

.list {
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax((min(100%, 14rem)), 1fr));
}

.hero {
  & .wrapper{
    background-image: none;
    @media screen and (min-width: 60rem) {
      background-size: 23.75rem;
      background-repeat: no-repeat;
      background-image: url('./assets/jesus.png');
      background-position: top 4rem right;
    }
    @media screen and (min-width: 70rem) {
      background-size: 33.75rem;
    }
    
  }
  &__section {
    margin-bottom: 5rem;
    & :nth-child(1) {
      width: min(100%, 34rem);
      text-shadow: 0 0 10px white, 0 0 10px white ,0 0 10px white, 0 0 10px white, 0 0 10px white, 0 0 10px white, 0 0 10px white, 0 0 10px white;
    }
    & :nth-child(2) {
      text-shadow: 0 0 10px white, 0 0 10px white ,0 0 10px white, 0 0 10px white, 0 0 10px white, 0 0 10px white, 0 0 10px white, 0 0 10px white;
      width: min(100%, 40rem);
      margin-bottom: 1.625rem;
    }
  }
}

.demo {
  background-color: var(--grey-200);
  & h3 {
    font-size: 1.625rem;
    line-height: 2.125rem;
  }
  & header {
    margin: 0 auto 4rem;
    width: min(100%, 50rem);
    text-align: center;
  }

  & a {
    margin-top: auto;
    margin-left: auto;
    width: max-content;
  }
  p {
    line-height: 1.875rem;
    margin-bottom: 1rem;
  }

  &__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    padding: 1.5rem 0 0 1rem;
  }

  &__grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
    & > * {
      flex-direction: column;
    }
    @media screen and (min-width: 40rem) {
      grid-template-columns: 1fr 1fr;
    }
    @media screen and (min-width: 70rem) {
      grid-template-columns: 1fr 1.5fr 1.5fr;
      & > *:not(:nth-child(1)) {
        flex-direction: row;
      }
      & :nth-child(1) {
        grid-row: 1/ 3;
      }
      & :nth-child(2) {
        grid-row: 1/ 2;
        grid-column: 2 / 4;
      }
      & :nth-child(3) {
        grid-row: 2/ 3;
        grid-column: 2 / 3;
      }
      & :nth-child(4) {
        grid-row: 2/ 3;
        grid-column: 3 / 4;
        background-color: var(--white);
      }
    }
  }
  &__card {
    border-radius: 1rem;
    padding: 0.5rem;
    display: flex;
    background-color: var(--white);
    & svg path{
      stroke: var(--primary);
    }
    &.active {
      background-color: var(--secondary);
      & h3,
      & p {
        color: var(--white);
      }
    }
    & > * {
      flex-basis: 100%;
    }
  }
  &__img-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 0.75rem;
    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
      aspect-ratio: 16 / 10;
    }
  }
}

.faq {
  & header {
    margin-bottom: 5rem;
    width: min(100%, 50rem);
  }
  &__icon-wrapper {
    transition: all 0.2s;
    display: flex;
    &.close {
      transform: rotate(-45deg);
    }
  }
  &__section {
    display: grid;
    gap: 1rem;
  }
  &__article {
    display: grid;
    gap: 1rem;
  }
  &__question-btn {
    background-color: var(--grey-200);
    width: 100%;
    border: none;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: space-between;
    padding: 1rem 2rem;
    min-height: 5.5rem;
    text-align: left;
    & svg {
      transition: all 0.2s;
      flex-shrink: 0;
    }
  }
  &__answer {
    transition: all 0.2s;
    display: none;
    &.open {
      animation: showAnswer 0.2s ease-in-out;
      padding: 2rem;
      border-radius: 1rem;
      border: 2px solid var(--grey-200);
      display: block;
      @keyframes showAnswer {
        0% {
          opacity: 0;
          transform: translateY(-1rem);
        }
      }
    }
  }
}

.wrapper {
  width: min(100%, 88rem);
  margin-inline: auto;
  padding: 8rem 1.5rem;
}

.contact {
  background-color: var(--tertiary);
  &__header {
    & :nth-child(2) {
      height: min(100%, 7rem);
      width: min(100%, 40rem);
      margin-bottom: 1rem;
    }
  }
}
