.card{
    border-radius: 1rem;
    padding: 1.5rem;
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    height: 100%;
    transition: all 0.2s ease-in-out;
    &--link{
        &:hover{
            opacity: 1;
            transform: scale(0.98) translateY(0.25rem) rotate(1deg);
            box-shadow:  0 0.5rem 1.5rem rgba(33, 33, 33, 0.1) ;
            outline: 2px dashed  var(--grey-900);
            outline-offset: 4px;
        }
    }
    &.grey{
        background-color: var(--grey-100);
        & > *{
            fill:var(--secondary);
            min-height: 3rem;
            margin-inline: auto;
        }
        & p {
            height: 100%;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    &.white{
        background-color: var(--white);
        & *{
            fill:var(--secondary);
        }
    }
    &.blue{
        background-color: var(--secondary);
        & *{
            fill:var(--white);
            color: var(--white);
        }
    }
}