.lesson-card{
    padding: 1rem;
    border: 2px solid var(--primary);
    border-radius: 1rem;
    box-shadow: inset 0 0 0 4px var(--white);
    transition:all 0.2s ease-in-out ;
    color: var(--white);
    font-size: 2rem;
    font-weight: 700;
    height: 15rem;
    display: grid;
    place-content: center;
    background-image: url("/src/assets/duchnauki_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    &:hover{
        border: 2px solid var(--secondary);
        transform: scale(0.98);
    }
}